<h1>18-Gửi request tìm kiếm theo tên với AsyncPipe</h1>

<h2>Top 5 movies</h2>
<ul class="top_movies">
  <li *ngFor="let eachMovie of movies">
    <a routerLink="/bai13/{{ eachMovie.id }}">
      {{ eachMovie.name }} - {{ eachMovie.releaseYear }}
    </a>
  </li>
</ul>

<app-items-search></app-items-search>
