<h1>16-Thêm dữ liệu với POST request sử dụng http trong Angular</h1>

<h2>My favorite movies</h2>
<div class="parent">
  <ol class="movie-list">
    <li
      class="movieListItem"
      *ngFor="let eachMovie of movies"
    >
      <a routerLink="/bai13/{{ eachMovie.id }}">
        {{ eachMovie.name }} - {{ eachMovie.releaseYear }}
      </a>
    </li>
  </ol>
</div>

<table style="width: 320px;">
  <tr>
    <th>New movie's name</th>
    <td>
      <input #movieName type="text" placeholder="Name">
    </td>
  </tr>
  <tr>
    <th>Release year</th>
    <td>
      <input #movieReleaseYear type="text" placeholder="Release year">
    </td>
  </tr>
  <tr>
    <th></th>
    <td>
      <button
        class="btn_blue"
        (click)="
          add(movieName.value, movieReleaseYear.value);
          movieName.value = '';
          movieReleaseYear.value = '';
        "
      >
        Add
      </button>
    </td>
  </tr>
</table>
