<h1>Bài 2:</h1>
<h2>Movie's detail</h2>
<div><span>id: </span> {{ movie.id }}</div>
<div><span>name: </span> {{ movie.name | uppercase }}</div>
<div><span>releaseYear: </span> {{ movie.releaseYear }}</div>
