<div class="main_search pt_1">
  <form (ngSubmit)="onSubmit()" class="form form_search">
    <div class="ui-g ui-fluid form_group">
      <div class="ui-g-12 ui-lg-2 label"><label>Blog ID</label></div>
      <div class="ui-g-12 ui-lg-4">
        <input
          type="text"
          pInputText
          [(ngModel)]="id"
          [ngModelOptions]="{standalone: true}"
        >
      </div>

      <div class="ui-g-12 ui-lg-2 label"><label>Title</label></div>
      <div class="ui-g-12 ui-lg-4">
        <input
          type="text"
          pInputText
          [(ngModel)]="title"
          [ngModelOptions]="{standalone: true}"
        >
      </div>
    </div>

    <div class="ui-g ui-fluid form_group">
      <div class="ui-g-12 ui-lg-2 label"><label>Description</label></div>
      <div class="ui-g-12 ui-lg-4">
        <input
          type="text"
          pInputText
          [(ngModel)]="desc"
          [ngModelOptions]="{standalone: true}"
        >
      </div>

      <div class="ui-g-12 ui-lg-2 label"><label>Detail</label></div>
      <div class="ui-g-12 ui-lg-4">
        <input
          type="text"
          pInputText
          [(ngModel)]="detail"
          [ngModelOptions]="{standalone: true}"
        >
      </div>
    </div>

    <div class="ui-g ui-fluid form_group">
      <div class="ui-g-12 ui-lg-2 label"><label>Category</label></div>
      <div class="ui-g-12 ui-lg-4">
        <p-dropdown
          [options]="categoryList"
          [(ngModel)]="categoryId"
          [ngModelOptions]="{standalone: true}"
          placeholder="Select a category"
          [showClear]="true"
        >
        </p-dropdown>
      </div>

      <div class="ui-g-12 ui-lg-2 label"><label>Public Status</label></div>
      <div class="ui-g-12 ui-lg-4 radio_inline">
        <p-radioButton
          [value]="0"
          label="All"
          [(ngModel)]="publicStatus"
          [ngModelOptions]="{standalone: true}"
        >
        </p-radioButton>
        <p-radioButton
          [value]="1"
          label="Yes"
          [(ngModel)]="publicStatus"
          [ngModelOptions]="{standalone: true}"
        >
        </p-radioButton>
        <p-radioButton
          [value]="2"
          label="No"
          [(ngModel)]="publicStatus"
          [ngModelOptions]="{standalone: true}"
        >
        </p-radioButton>
      </div>
    </div>

    <div class="ui-g form_group text_center">
      <div class="ui-g-12">
        <button pButton type="submit" label="Search" icon="pi pi-search"></button>
        &nbsp;
        <button pButton type="button" label="Clear" (click)="clear()"></button>
      </div>
    </div>
  </form>
</div>
