<div *ngIf="messageService.messages.length">
  <h4>Messages</h4>
  <button
    class="btn_blue"
    (click)="messageService.deleteAllMessages()"
  >
    Delete all messages
  </button>
  <br><br>
  <div *ngFor="let messages of messageService.messages">{{ messages }}</div>
</div>
