<h1>13-Chuyển qua lại giữa hai màn hình Master-Detail components  </h1>

<h2>Top 5 movies</h2>
<ul class="top_movies">
  <li *ngFor="let eachMovie of movies">
    <!-- <a [routerLink]="['/bai13', eachMovie.id]"> -->
    <a routerLink="/bai13/{{ eachMovie.id }}">
      {{ eachMovie.name }} - {{ eachMovie.releaseYear }}
    </a>
  </li>
</ul>
